.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 70px;
}
.contentSave{
    text-align: center !important;
    margin-left: 5px !important;

}

.contentRegister{
    height:50px !important;
    width: 400px !important;

    margin-bottom: 20px;
    background-color: #0362fc !important;
    font-size: 18px !important;
    font-weight: bold;
    color: #FFFFFF !important;
}

/* .contentField{
    height :56px;
    flex: 1;
    padding-left: 1px ;
}

.contentText{
    height: 56px;
    flex: 8;
}  */